<h1 class="text-decoration-underline">New Place</h1>

<%= form_with model: @place do |form| %>
  <p class = "pt-4">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <p class="btn btn-primary">
    <%= form.submit "Create", class: "btn btn-primary btn-sm" %>
  </p>
<% end %>